{% extends 'base.html' %}
{% block title %}Edit Notification | WorkHub{% endblock %}

{% block content %}
<div style="max-width:600px; margin:30px auto;">
    <h2 style="margin-bottom: 10px;">Edit Notification</h2>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="btn-primary" style="margin-left: 40%; width: 12%;">Save</button>
        <a href="{% url 'finder:my_notifications' %}" class="btn-primary" style="margin-left:8px;">Cancel</a>
    </form>
</div>
{% endblock %}
