{% extends 'base.html' %}
{% block title %}Notification Detail | WorkHub{% endblock %}

{% block content %}
<h2 style="margin-top: 30px; text-align: center;">Notification Details</h2>

<style>
    table, th, td { border: 2px solid black; border-collapse: collapse; text-align: center; padding: 10px; }
    table { width: 100%; }
</style>

<div class="card" style="max-width: 750px; margin: 30px auto; padding: 25px;">

    <table style="width:100%; border-collapse: collapse;">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ note.full_name }}</td>
            </tr>

            <tr>
                <th>Email</th>
                <td>{{ note.email }}</td>
            </tr>

            <tr>
                <th>Phone</th>
                <td>{{ note.phone }}</td>
            </tr>

            <tr>
                <th>Job Field</th>
                <td>{{ note.get_job_field_display }}</td>
            </tr>

            <tr>
                <th>Submitted</th>
                <td>{{ note.created_at|date:"M d, Y H:i" }}</td>
            </tr>

            <tr>
                <th>Resume</th>
                <td>
                    {% if note.resume %}
                        <a href="{{ note.resume.url }}" class="btn-secondary" target="_blank">Open Resume</a>
                    {% else %}
                        No resume uploaded.
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <div style="margin-top: 25px; display:flex; gap:10px;">
        <a href="{% url 'finder:edit_notification' note.id %}" class="btn-primary" style="width: 10%; text-align: center; margin-left: 40%;">Edit</a>
        <a href="{% url 'finder:my_notifications' %}" class="btn-primary" style="width: 10%; text-align: center;">Back</a>
    </div>

</div>
{% endblock %}
