<!DOCTYPE html>
{% extends 'main/base.html' %}
{% block content %}
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
</head>
<body>
    <h1>Your Next<br>Career Move<br>Starts Here</h1>
    <div class="buttons">
        <a href="{% url 'finder:finder_dashboard' %}" class="btn-primary" style="margin-left: 6%; margin-right: 2%;">Find a Job</a>
        <a href="{% url 'hirer:hirer_dashboard' %}" class="btn-primary">Hire a Person</a>
    </div>
</body>
</html>
{% endblock %}